<ul>
    <li ui-sref-active="active"><a ui-sref="curriculum.personal" ui-sref-active="active"><i class="icon-user"></i>Personal Information</a></li>
    <li ui-sref-active="active"><a ui-sref="curriculum.education" ui-sref-active="active"><i class="icon-graduation-cap"></i>Education</a></li>
    <li ui-sref-active="active"><a ui-sref="curriculum.jobs" ui-sref-active="active"><i class="icon-briefcase"></i>Work Experiences</a></li>
    <li ui-sref-active="active"><a ui-sref="curriculum.skills" ui-sref-active="active"><i class="icon-book"></i>Skills</a></li>
    <li ui-sref-active="active"><a ui-sref="curriculum.about" ui-sref-active="active"><i class="icon-info"></i>About CV</a></li>
</ul>