<div class="content">
    <h2>About this CV</h2>

    <p>You can view this CV thanks to:</p>

    <ul>
        <li>Node.js with Express (to serve the page)</li>
        <li>AngularJS with ngResource</li>
        <li>RequireJS (to keep the app in readable directory structure with availability to optimise all js files into one js file)</li>
        <li>Twitter Bootstrap</li>
        <li>SCSS</li>
    </ul>

    <p>If you would like to view the source code of the page, you can check it on my <a href="https://github.com/brazvo/ng-cv" target="_blank">github</a>.</p>
</div>
