<div class="content">
    <h2>Education</h2>

    <table class="table table-bordered columns-3">
        <thead>
            <tr>
                <th>Period</th>
                <th>School/Course</th>
                <th>Examine/Certificate</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in education">
                <td class="label-col">{{item.period}}</td>
                <td class="value">{{item.school}}</td>
                <td class="value">{{item.finished_with}}</td>
            </tr>
        </tbody>
    </table>
</div>
