<div class="content">
    <h2>Skills</h2>

    <div ng-repeat="groupItem in skills">
        <h3>{{groupItem.group}}</h3>

        <table>
            <thead>
            <tr>
                <th>Skill</th>
                <th>Level</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in groupItem.items">
                <td class="label">{{item.skill}}</td>
                <td class="value">{{item.level}}</td>
                <td class="description">{{item.description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
