body {
    padding: 0;
    margin: 0;
    width: 100%;

    header {
        margin-top: 25px;
        h1 {
            margin-top: 0;
        }
    }

    .content {
        padding: 10px;
    }

    table {
        width: 100%;
        border-spacing: 0;
        margin-bottom: 15px;
        thead {
            background: #eee;
        }
        th {
            text-align: left;
            padding: 5px;
        }
        td {
            &.label-col {
                font-weight: bold;
                width: 15%;
            }
            &.value {
                width: 20%;
            }
            &.company {
                width: 20%;
            }
            &.description {
                width: 45%;
            }
        }

        &.columns-2 {
            td.value {
                width: 85%;
            }
        }

        &.columns-3 {
            td.value {
                width: 40%;
            }
        }

        &.columns-4 {
            td.company {
                width: 25%;
            }
            td.value {
                width: 25%;
            }
            td.description {
                width: 35%;
            }
        }
    }
}

